/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom styles below */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}